:root {
    --gray: #eeecec;
    --red: #b71b21;
    --brown: #351d19;
    --orange: #d27f4c;
    --copper: #90836c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    background: var(--gray);
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background: transparent;
    transition: .2s ease-in;
}

.menu-hamburguer{
    display: none;
    cursor: pointer;
    margin-top: .5rem;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 1rem 6px 90vw;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}
  
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px);
}

.menu {
    margin: 0 2rem;
    height: 100%;
    width: 100%;
    margin-left: 5rem;
}

.menu ul {   
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul li{
    margin: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}

.menu li a {
    color: var(--red);
}

.menu a:hover {
    border-bottom: 1px solid var(--red);
    transition: .2s ease-in;
}

#home {
    display: flex;
    height: 100vh;
}

#home .back-white {
    display: flex;
    align-items: center;
    width: 70vw;
}

.banner-content {
    height: 40vh;
    width: 100%;
    margin-left: 6rem;
}

.banner-content h1 {
    font-size: 4.5rem;
}

.banner-content h2 {
    font-size: 2rem;
    font-weight: 400;
}

.btn {
    text-transform: uppercase;
    background: var(--red);
    border-radius:42px;
    box-shadow: none;
    border: none;
	display:inline-block;
    font-size:16px;
    font-weight: 300;
    color: var(--gray);
    cursor: pointer;
    padding:17px 27px;
}

.btn:hover {
    background: #e71f25;
    transition: .2s ease-in;
}

#home .back-red {
    display: flex;
    align-items: center;
    width: 35vw;
    background: var(--red); 
}

#home .plate {
    width: 100%;
    border-radius: 50%;
    margin-left: -50%;
}

main {
    height: 100vh;
}

main h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

main p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

#about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-content {
    width: 50%;
    margin-right: 10%;
}

.img-wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper img {
    width: 80%;
}


@media (max-width: 1300px) {

    #home .back-white {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
    }

    #home .plate {
        display: none;
    }

    .banner-content {
        margin-left: 0;
    }
}

@media (max-width: 1200px) {

    #about {
        flex-direction: column;
        padding: 2rem 1rem;
    }
    
    .img-wrapper img {
        width: 100%;
    }

    .about-content {
        width: 80%;
        text-align: center;
        margin-right: 0;
        padding-bottom: 2rem;
    }

    .about-content h2 {
        margin-top: 1rem;
    }
}

@media (max-width: 800px) {

    header {
        height: 8vh;
    }
    
    #home {
        flex-direction: column;
    }
    
    #home .back-white {
        justify-content: center;
        height: 85vh;
        width: 100%;
    }
    
    #home .back-red {
        height: 15vh;
        width: 100%;
    }
}

@media (max-width: 600px) {

    header {
        background: transparent;
    }

    .menu-hamburguer {
        display: inline-block;
        z-index: 1;
    }
    
    .menu {
        display: none;
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        opacity: 0.9;
        position: fixed;
        transition: all .2s;
        top: 0;
        margin: 0;
        z-index: -1;
        justify-content: center;
        align-items: center;
    }

    .menu ul{
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    .show-menu {
        display: flex;
    }
}

@media (max-width: 450px) {

    .bar1, .bar2, .bar3 {
        margin: 6px 1rem 6px 85vw;
    }
    .container-banner {
        text-align: center;
    }
    .banner-content {
        height: 100%;
    }

    .banner-content h1{
        font-size: 4rem;
    }

    .banner-content h2{
        font-size: 1.5rem;
        margin: 0 1rem 1rem;
    }

    #about {
        padding: 0;
    }

    .img-wrapper {
        width: 100%;

    }

    .about-content {
        width: 100%;
    }

    .about-content h2{
        font-size: 2rem;
        margin: 0;
    }

    .about-content p{
        font-size: 1.3rem;
        margin: 1rem 0;
    }
}